div{
    background:lightskyblue ;
}
.boton{
    background: rgb(25, 175, 235);
    color: white; 
    font-size:16px; 
    font-family:arial;
    width:100px;
    height:39px;
}
[class^="datos"]{
    font-size:16px; 
    font-family:arial;
    width:300px;
}
.etiqueta{
    font-size:16px; 
    font-family:arial;
}
.datos-mensaje{
    width:300px;
    height:100px;
}